{% extends 'trading_tool/html/index.html' %}
{% load static %}
{% block content %}
<!--  Header End -->
<div class="container-fluid" style="max-width: initial;">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Trading Configurations</h5>
        <div class="card">
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
