{% extends 'trading_tool/html/index.html' %}
{% load static %}
{% block content %}
<!--  Header End -->

<!-- Include CSRF token meta tag here -->
<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>

<div class="container-fluid" style="max-width: initial;">
  <div class="row pt-4">
    <div class="col-lg-12 col-sm-12 d-flex align-items-stretch">
        
        <div class="card w-100" id="card_body" >
            <div class="card-body p-4 mb-4">
              <div class="d-flex justify-content-between align-items-center">
                <p class="card-title fw-semibold fs-4" id="optitle">OPTION CHAIN</p>
                <div class="d-flex align-items-center">
                {% for option in options_data.data.optionsChain %}
                {% if option.option_type == ""%}
                  <div  id="info_form" class="container-fluid pt-5">
                    <div class="row" >
                        <!-- Web View -->
                        <div class="col-lg-12 d-none d-lg-block">
                            <div class="row">
                                <div class="col-md-3">
                                    <input class="form-control my-3" disabled name="expiry" value="{{expiry_response}}">
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control my-3" disabled name="ex_symbol" value="{{ option.ex_symbol }}">
                                </div>
                                <div class="col-md-3">
                                    
                                    <input class="form-control my-3" disabled name="ltp" value="{{ option.ltp }}">
                                </div>
                            </div>
                        </div>
                        <!-- Mobile View -->
                        <div class="col-12 d-block d-lg-none pt-5">
                            <div class="row mt-3">
                                <div class="col-12 mt-5">
                                    <input class="form-control mt-5 " disabled name="expiry" value="{{expiry_response}}">
                                </div>
                                <div class="col-6">
                                    <input class="form-control my-2" disabled name="ex_symbol" value="{{ option.ex_symbol }}">
                                </div>
                                <div class="col-6" id="index-cont" >
                                    <input class="form-control my-2" id="index" disabled name="ltp" value="0">
                                </div>
                            </div>
                            <div class="row" style="margin: 0px;">
                                <div class="alert alert-primary d-flex flex-row justify-content-between align-items-center p-0 m-0" style="height:55px;" role="alert">
                                    <div class="col-8">
                                        <p id="exp_stoploss_amount" style="margin-left: 10px;" class="mb-0 fs-3 fw-bolder">Exp Loss:</p>
                                    </div>
                                    <div class="col-4">
                                        <button id="refresh_page" class="btn btn-primary btn-md my-1 h-150" style="border-radius: 6px;">Refresh</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>



        <div class="container-fluid mt-2 ">
            <div class="row">   
            <div class="col-sm-6">
            {% for option in ce_options_with_serial %}
                {% if option.option_type == "CE"%}
                <div class="alert alert-success" role="alert" style="--bs-alert-padding-x: 10px;--bs-alert-padding-y: 10px;">
                    <div class="row">
                        <div class="col-4 d-flex justify-content-center align-items-center">
                            <button class="btn btn-success btn-lg btn-block w-100 h-100 fw-bolder buy-button" style="border-radius: 6px">Buy</button>
                        </div>

                        <div class="col-4  text-center">
                            <input type="hidden" name="der-symbol-{{option.symbol}}" value="{{ option.symbol }}">
                            <input type="hidden" name="opt-symbol" value="{{ option.symbol }}">
                            <h5 class="card-title text-muted fw-bolder mb-0">
                                {% if option.serial_number == 1 %}
                                    <span style="color: #6a7dfb; font-size: 70%;">ITM&nbsp;2</span>
                                {% elif option.serial_number == 2 %}
                                    <span style="color: #6a7dfb; font-size: 70%;">ITM&nbsp;1</span>
                                {% elif option.serial_number == 3 %}
                                    <span style="color: #6a7dfb; font-size: 70%;">ATM</span>
                                {% elif option.serial_number == 4 %}
                                    <span style="color: #6a7dfb; font-size: 70%;">OTM&nbsp;1</span>
                                {% elif option.serial_number == 5  %}
                                    <span style="color: #6a7dfb; font-size: 70%;">OTM&nbsp;2</span>
                                {% endif %}
                                <br>
                                CE&nbsp;{{ option.strike_price }}
                            </h5>
                            
                            <p class="card-text fs-4 fw-bolder" id="der-ltp-{{ option.symbol }}">LTP: {{ option.ltp }}</p>

                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center">
                            <button class="btn btn-danger btn-lg btn-block w-100 h-100 fw-bolder sell-button" style="border-radius: 6px">Sell</button>
                        </div>
                    </div>
                </div>        
                {% endif %}
            {% endfor %}
            </div>
            <div class="col-sm-6">
                {% for option in pe_options_with_serial %}
                {% if option.option_type == "PE"%}
                    <div class="alert alert-danger" role="alert"  style="--bs-alert-padding-x: 10px;--bs-alert-padding-y: 10px;">
                        <div class="row">
                            <div class="col-4 d-flex justify-content-center align-items-center">
                                <button class="btn btn-success btn-lg btn-block w-100 h-100 fw-bolder buy-button" style="border-radius: 6px">Buy</button>
                            </div>
                            <div class="col-4 text-center">
                                <input type="hidden" name="der-symbol-{{option.symbol}}" value="{{ option.symbol }}">
                                <input type="hidden" name="opt-symbol" value="{{ option.symbol }}">
                                <h5 class="card-title text-muted fw-bolder mb-0">
                                    {% if option.serial_number == 1 %}
                                        <span style="color: #6a7dfb; font-size: 70%;">ITM&nbsp;2</span>
                                    {% elif option.serial_number == 2 %}
                                        <span style="color: #6a7dfb; font-size: 70%;">ITM&nbsp;1</span>
                                    {% elif option.serial_number == 3 %}
                                        <span style="color: #6a7dfb; font-size: 70%;">ATM</span>
                                    {% elif option.serial_number == 4 %}
                                        <span style="color: #6a7dfb; font-size: 70%;">OTM&nbsp;1</span>
                                    {% elif option.serial_number == 5  %}
                                        <span style="color: #6a7dfb; font-size: 70%;">OTM&nbsp;2</span>
                                    {% endif %}
                                    <br>
                                    PE&nbsp;{{ option.strike_price }}
                                </h5>
                                <p class="card-text fs-4 fw-bolder" id="der-ltp-{{ option.symbol }}">LTP:  {{ option.ltp }}</p>

                            </div>
                            <div class="col-4 d-flex justify-content-center align-items-center">
                                <button class="btn btn-danger btn-lg btn-block w-100 h-100 fw-bolder sell-button" style="border-radius: 6px">Sell</button>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
            </div>
            </ul>
            </div>
        </div>
        </div>



    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {


        // =======================================================================================================================================

        // Handle click event for buy buttons
        $('.buy-button').click(function(e) {
            e.preventDefault();
            
            // Get the value of the hidden input field
            var derSymbol = $(this).closest('.alert').find('input[name="opt-symbol"]').val();
            
            // Get the value of ex_symbol and ltp fields
            var exSymbol = $('input[name="ex_symbol"]').val();
            var ltp = $('input[name="ltp"]').val();
            
            // Get CSRF token
            var csrfToken = $('meta[name="csrf-token"]').attr('content');
            
            // Make AJAX request
            $.ajax({
                type: 'POST',  // Adjust the request type as needed
                url: '{% url "instant_buy_order" %}',  // Replace 'your_django_view_url' with the actual URL of your Django view
                data: {
                    'der_symbol': derSymbol,  // Pass the value of der-symbol field
                    'ex_symbol': exSymbol,  // Pass the value of ex_symbol field
                    'ltp': ltp,  // Pass the value of ltp field
                    'csrfmiddlewaretoken': csrfToken  // Pass the CSRF token
                },
                success: function(response) {
                    // Handle success response if needed
                    // console.log('AJAX request successful.', response);
                    swal({
                        position: "top-end",
                        icon: "success",
                        title: response.response,
                        showConfirmButton: false,
                        timer: 500,
                        
                    });  
                    fetchSessionDataAndUpdateUI();
                    reconnectWebSocket();
        // ====================================================================================================================
                   
                },
                error: function(xhr, status, error) {
                    // Handle error response if needed
                    console.error('AJAX request failed.', error);
                    swal({
                        position: "top-end",
                        icon: "error",
                        title: "some error occurred!",
                        showConfirmButton: false,
                        timer: 500,
                        
                    });
                }
            });
        });


        // =======================================================================================================================================

        // Handle click event for sell buttons
        $('.sell-button').click(function(e) {
            e.preventDefault();
            var csrfToken = $('meta[name="csrf-token"]').attr('content');
            // console.log('Sell button clicked.');

            // Add your AJAX call here
            $.ajax({
                type: 'GET',  // Adjust the request type as needed
                url: '{% url "close_all_positions" %}',
                success: function(response) {
                    // Handle success response if needed
                    console.log('Position closed successfully.', response);
                    swal({
                        position: "top-end",
                        icon: "success",
                        title: response.message,
                        showConfirmButton: false,
                        timer: 500,
                        
                    });
                    console.log('Session data removed successfully.', response);
                    var parentDivElement = document.getElementById('openPlData').parentElement;
                    parentDivElement.classList.remove('alert-danger');
                    parentDivElement.classList.remove('alert-success');
                    parentDivElement.classList.add('alert-primary');
                    document.querySelector('input[name="open-qty"]').value = '';
                    document.querySelector('input[name="open-symbol"]').value = '';
                    document.querySelector('input[name="open-traded-price"]').value = '';
                    document.getElementById('openPlData').innerHTML = 'No positions';
                    document.getElementById('exp_stoploss_amount').textContent = `Exp Loss: ${'0'}`;
                    //document.getElementById('plContainer').style.display = 'none';
                    fetchSessionDataAndUpdateUI();
                    reconnectWebSocket()
                    
                },
                error: function(xhr, status, error) {
                    // Handle error response if needed
                    console.error('Failed to close position. Error:', error);
                    swal({
                        position: "top-end",
                        icon: "error",
                        title: "some error occurred!",
                        showConfirmButton: false,
                        timer: 500,
                        
                    });
                }
            });
        });
    });


    // =======================================================================================================================================
        // Get a reference to the refresh_page button
        var refreshButton = document.getElementById('refresh_page');

        // Add click event listener to the refresh button
        refreshButton.addEventListener('click', function() {
            // Reload the page
            location.reload();
        });

</script>




<script>
    // Function to send message to server before page unload
    function sendMessageBeforeUnload() {
        // Send a message to the server to unsubscribe and close the WebSocket connection
        socket.send(JSON.stringify({ action: 'disconnect' }));
    }
    function reconnectWebSocket() {
        // Close the existing WebSocket connection
        socket.close();
        
        // Reconnect the WebSocket using the same URL
        socket = new WebSocket("wss://" + domain + "/ws/fyersindexdata/" + lastKeyword + "/");
        
        // Event handler for receiving messages from the new WebSocket server connection
        socket.onmessage = function(event) {
            var message = event.data;
            updateData(message);
        };
    }

    // Function to update the data container with the received message
    function updateData(message) {
        // Show spinner initially
        var dataContainer = document.getElementById("data-index");
        var messageElement = document.querySelector('#index'); // Selecting the existing h1 element
        message = message.replace(/'/g, '"');
        var message = JSON.parse(message);
        // console.log("messagemessagemessage", message);
        // Check if the type is "if"
        if (message.type === 'if') {
            // Select the element by its ID
            var container = document.querySelector('#index-cont');
            // Remove the 'display: none;' style
            container.style.display = 'block';
            var ltpValue = message['ltp'];
            var symbol = message['symbol'];
            symbol = symbol.replace('NSE:', '').replace('-INDEX', '');
            var indexData = symbol + " - " + ltpValue;
            // console.log("messagemessagemessage", symbol);
            // console.log("indexDataindexData", indexData)
            messageElement.value = ltpValue; // Replacing the content with the new message
        } else if (message.type === 'sf') {
            // Handle the case when message type is 'sf'
            // console.log("Type is 'sf'.");
            var symbol = message['symbol'];
            // Retrieve the hidden input value if it exists
            var hiddenSymbolInput = document.querySelector('input[name="der-symbol-' + symbol + '"]');
            var hiddenSymbol = hiddenSymbolInput ? hiddenSymbolInput.value : null;
            var escapedSymbol = message['symbol'].replace(/(:|\.|\[|\]|,|=|@)/g, "\\$1");


            // Fetch openPlData value
            var open_qty = document.querySelector('input[name="open-qty"]').value;
            var open_symbol = document.querySelector('input[name="open-symbol"]').value;
            var open_traded_price = document.querySelector('input[name="open-traded-price"]').value;
            if (symbol === open_symbol) {
                
                document.getElementById('openPlData').innerText = '';
                // Update the corresponding LTP value
                var ltpValue = message['ltp'];
                var currentValue = open_qty * ltpValue;
                var expenseValue = open_traded_price * open_qty;
                var plData = (currentValue - expenseValue).toFixed(2);
                // Convert plData to a number and round it to two decimal places
                var plDataNumber = parseFloat(plData);
                var plDataFormatted = plDataNumber.toFixed(2);

                // Determine if plData is negative or positive
                var plDataIsNegative = plDataNumber < 0;

                // Get a reference to the parent <div> element
                var parentDivElement = document.getElementById('openPlData').parentElement;

                // Update the class based on plData value
                if (plDataIsNegative) {
                    parentDivElement.classList.remove('alert-primary');
                    parentDivElement.classList.add('alert-danger');
                } else {
                    parentDivElement.classList.remove('alert-danger');
                    parentDivElement.classList.add('alert-success');
                }

                // Update the innerHTML of openPlData element
                document.getElementById('openPlData').innerHTML = 'P/L: ' + plDataFormatted + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LTP:' + ltpValue;
                // Check if plData is negative or positive
              

                // console.log("ltpValueltpValue", ltpValue);
                var ltpElement = document.querySelector('#der-ltp-' + escapedSymbol);
                ltpElement.textContent = "LTP: " + ltpValue;
                // console.log("ltpElementltpElement", ltpElement);

            }

            // console.log("hiddenSymbolhiddenSymbol", hiddenSymbol);
            // console.log("***************************", escapedSymbol);
            // Compare the symbols
            if (symbol === hiddenSymbol) {
                // Update the corresponding LTP value
                var ltpValue = message['ltp'];
                // console.log("ltpValueltpValue", ltpValue);
                var ltpElement = document.querySelector('#der-ltp-' + escapedSymbol);
                ltpElement.textContent = "LTP: " + ltpValue;
                // console.log("ltpElementltpElement", ltpElement);

            }
        } else {
            // Do something else if the type is neither 'if' nor 'sf'
            // console.log("Type is not 'if' or 'sf'.");
        }
    }

    var urlParts = window.location.pathname.split('/');

    var domain = '//' + window.location.hostname;
    // console.log(domain);

    var lastKeyword = window.location.pathname.split('/').filter(Boolean).pop();

    // WebSocket connection using secure WebSocket (wss://) protocol
    var socket = new WebSocket("wss://" + domain + "/ws/fyersindexdata/" + lastKeyword + "/");

    // Event handler for receiving messages from the WebSocket server
    socket.onmessage = function(event) {
        // console.log("Received message:", event.data);
        var message = event.data;
        updateData(message);
    };

    // Close the WebSocket connection when the page is unloaded (refreshed or navigated away)
    window.addEventListener('unload', function() {
        socket.close();
    });

    // Attach the function to the 'beforeunload' event
    window.addEventListener('beforeunload', sendMessageBeforeUnload);

</script>

<script>
    // Function to refresh the page
    function refreshPage() {
        location.reload();
    }

    // Function to check if the current time is between 9:30 AM and 3:30 PM
    function isBetweenWorkingHours() {
        var now = new Date();
        var hours = now.getHours();
        var minutes = now.getMinutes();
        
        // Check if current time is between 9:30 AM and 3:30 PM
        if ((hours > 9 || (hours === 9 && minutes >= 30)) && (hours < 15 || (hours === 15 && minutes <= 30))) {
            return true;
        } else {
            return false;
        }
    }

    // Set interval to refresh the page every 3 minutes (180,000 milliseconds) only if it's between working hours
    setInterval(function() {
        if (isBetweenWorkingHours()) {
            refreshPage();
        }
    }, 180000);
</script>

<script>
    //========================================================================================================================================
    function fetchSessionDataAndUpdateUI() {
        // Make AJAX request to fetch session data
        $.ajax({
            type: 'GET',
            url: '{% url "get_session_data" %}',  // URL to fetch session data
            success: function(response) {
                // Check if session data exists
                if (response.hasOwnProperty('open_symbol') && response.hasOwnProperty('open_qty') && response.hasOwnProperty('open_traded_price')) {
                    // Show the container
                    document.getElementById('plContainer').style.display = 'block';
    
                    // Get the data from the response
                    var open_symbol = response.open_symbol;
                    var open_qty = response.open_qty;
                    var open_traded_price = response.open_traded_price;
                    var exp_stoploss_amount = response.exp_stoploss_amount
                    console.log("open_qtyopen_qty", open_qty,"open_traded_price", open_traded_price , "open_symbol", open_symbol,'exp_stoploss_amount', exp_stoploss_amount)
                    // Update the HTML elements with the retrieved data
                    // Assign values to the hidden input fields
                    document.querySelector('input[name="open-symbol"]').value = open_symbol;
                    document.querySelector('input[name="open-qty"]').value = open_qty;
                    document.querySelector('input[name="open-traded-price"]').value = open_traded_price;
                    document.getElementById('exp_stoploss_amount').textContent = `Exp Loss: ${exp_stoploss_amount}/${open_qty}`;
                    

                }
            },
            error: function(xhr, status, error) {
                console.error('Error fetching session data:', error);
            }
        });
    }

    // Call fetchSessionDataAndUpdateUI initially
    fetchSessionDataAndUpdateUI();

    // Call fetchSessionDataAndUpdateUI every 1 second
    //setInterval(fetchSessionDataAndUpdateUI, 1000);
    // ========================================================================================================================================
</script>

{% endblock %}
